.banner1{
    background-color: black;
    padding: 10px;
    color: brown;
    font-family: "verdana";
}

h1{
    margin-left: 50px;
    font-family: "verdana";
}

.parrafo1{
    margin-left: 50px;
    margin-right: 50px;
    font-family: "verdana";
    text-align: justify;
}

.parrafo2{
    font-family: "verdana";
    text-align: justify;
}

.seccion1{
    background-color: rgba(233, 227, 227, 0.966);
}

.seccion2{
    height: 800px;
    background-color: khaki;
}

.enlaces1{
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
    font-family: "verdana";
    font-size: 20px;
}

.row{
    padding: 40px;
    justify-content: space-around;
}

.col-xl-6, .separador1{
    background-color: lightcoral;
    border: brown   solid 2px;
   
}

.col-md-12{
    background-color: lightcoral;
    border: brown   solid 2px;
}

footer{
    height: 200px;
    background-color: cadetblue;
    text-align: left;
 
   }

.linea1{
    padding: 30px;
    margin: 0px;
    background-color: darkcyan;
}

li{
    font-family: "verdana";
    font-size: medium;
    font-weight: bold;
    color: brown;
}



